Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-braces-around-statements,
  readability-misleading-indentation,
  readability-redundant-smartptr-get,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: >
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-undefined-memory-manipulation,
  bugprone-move-forwarding-reference,
  bugprone-incorrect-roundings,
  bugprone-sizeof-expression,
  bugprone-string-literal-with-embedded-nul,
  bugprone-suspicious-memset-usage,
  bugprone-infinite-loop

HeaderFilterRegex: '(include/livekit|src|bridge/(include|src)|examples)'

FormatStyle: file

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
