.cache/
CMakeFiles/
CMakeCache.txt
.DS_Store
Makefile
cmake_install.cmake
out
build/
build-debug/
build-release/
release/
vcpkg_installed/
# Generated header
include/livekit/build.h
received_green.avif
docs/*.bak
docs/html/
docs/latex/
.vs/
.vscode/
.cursor/
# Compiled output
bin/
lib/
*.lib
*.a
*.so
*.dylib
*.dll
*.exe
